<div class="official">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Official California State Government</p>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand nav-cali-bg navbar-left" href="index.html">CA.gov <sup>(ALPHA)</sup></a>
    </div>
  </div>
</nav>

<div class="container-fluid jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>California Web Design System</h1>
      </div>
    </div>
  </div>
</div>

