and_chr 75
and_ff 67
and_qq 1.2
and_uc 11.8
baidu 7.12
chrome 75
chrome 74
edge 18
edge 17
firefox 67
firefox 66
ie 11
ie_mob 11
ios_saf 12.2
ios_saf 12.0-12.1
kaios 2.5
op_mini all
op_mob 46
opera 58
opera 57
safari 12.1
safari 12
samsung 9.2
samsung 8.2
