
/* Blurple Color Scheme */

.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background: #0f1e6b;
    background: linear-gradient(80deg, #0f1e6b 0%, #170f6b 100%);
}

.jumbotron.alpha  {
	background: #0f1e6b;
    background: linear-gradient(80deg, #0f1e6b 0%, #170f6b 100%);
	color: #fff;
}

.alert-primary {
    color: #ffffff;
    background-color: #0f1e6b;
    border-color: #f1f1f1;
}

a.btn {
  background: #0f1e6b;
  color: #fff;
  border: 1px solid #f1f1f1;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: "Public Sans ExtraBold", sans-serif;

}

.btn-primary {
    color: #fff;
    background-color: #0f1e6b;
	background: #0f1e6b;
    border-color: #0f1e6b;
}
