
/* Design System Specific CSS */

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:visited, a.navbar-brand, a.navbar-brand:visited {
	text-decoration: none !important;
}

.navbar img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 50px;
}

.card .btn-link {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: #000;
  background-color: transparent;
}

.docs-brand {
	background-size: 8%;
	
}

.bd-sidenav-group-link {
	color: #004abc;
}

a, a:visited, a:hover {
    color: #004abc;
}

.btn-bd-primary:hover, .btn-bd-primary:active {
	border-color: #004abc;
}



.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background: #000;
    background: #000;
}

.jumbotron.alpha  {
	background: #000;
    background: #000;
	color: #fff;
}

.alert-primary {
    color: #ffffff;
    background-color: #000;
    border-color: #f1f1f1;
}

a.btn {
  background: #000;
  color: #fff;
  border: 1px solid #f1f1f1;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: "Public Sans ExtraBold", sans-serif;

}

.btn-primary {
    color: #fff;
    background-color: #000;
	background: #000;
    border-color: #000;
}
