
/* Public Sans */
@font-face {
  font-family: "Public Sans Extra Bold";
  font-style: normal;
  src: 
    url("/docs/cali/fonts/css/fonts/publicsans-extrabold-webfont.woff2") format("woff2"), 
    url("/docs/cali/fonts/publicsans-extrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Public Sans Bold";
  font-style: normal;
  src: 
    url("/docs/cali/fonts/publicsans-bold-webfont.woff2") format("woff2"), 
    url("/docs/cali/fonts/publicsans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Public Sans Light";
  font-style: normal;
  src: 
    url("/docs/cali/fonts/publicsans-light-webfont.woff2") format("woff2"), 
    url("/docs/cali/fonts/publicsans-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  src: 
    url("/docs/cali/fonts/publicsans-regular-webfont.woff2") format("woff2"), 
    url("/docs/cali/fonts/publicsans-regular-webfont.woff") format("woff");
}